In [1]:
#load libraries and data
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

dat = pd.read_csv("FinalDataframe_3.csv")
dat

,Unnamed: 0,Unnamed: 0.1,fips_final,NAME,num_hospitals,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,...,mob_grocery,mob_parks,mob_transit,mob_workplace,mob_residential,0-17,18-44,45-64,65-74,75+
0,0,0,1001,"Autauga County, Alabama",1,85,55,6,6,0,...,5.174545,-34.000000,NaN,-24.734545,10.947619,14613,19347,14065,4013,2533
1,1,1,1003,"Baldwin County, Alabama",4,386,362,51,51,0,...,-5.712121,-3.723232,-14.602020,-23.003030,8.606817,41898,58343,51456,17803,12765
2,2,2,1005,"Barbour County, Alabama",1,74,30,5,5,0,...,-5.681072,NaN,NaN,-17.282701,NaN,6015,9899,7634,2238,1671
3,3,3,1007,"Bibb County, Alabama",1,35,25,4,4,0,...,-4.359533,3.346264,-6.092929,-22.455556,9.632323,5201,8687,6121,1723,1183
4,4,4,1009,"Blount County, Alabama",1,25,25,6,6,0,...,1.341146,28.599359,-48.302083,-24.653646,9.384231,14106,19416,15361,5079,3360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296,2296,2296,56027,"Niobrara County, Wyoming",1,24,24,4,4,0,...,NaN,NaN,NaN,NaN,NaN,470,735,766,292,221
2297,2297,2297,56029,"Park County, Wyoming",2,50,50,8,8,0,...,-2.845719,-6.057386,NaN,-24.497670,-0.095238,5911,8608,8744,2776,2166
2298,2298,2298,56033,"Sheridan County, Wyoming",1,88,71,11,11,0,...,18.000000,NaN,NaN,-15.652778,6.214286,6485,9056,9027,2479,2069
2299,2299,2299,56037,"Sweetwater County, Wyoming",1,99,58,10,10,0,...,5.679631,NaN,6.521652,-20.283480,8.058333,11869,16662,11632,2146,1497
2300,2300,2300,56039,"Teton County, Wyoming",1,48,48,6,6,0,...,-19.462857,-37.443623,-45.728996,-32.238681,NaN,4076,9225,5895,1351,747

In [15]:
#drop NA...
dat = dat.dropna()

#for X, or what we're clustering, we are removing outcomes y, such as case and death totals
#Also removing strings; can't k-means cluster on these
#Also removing columns Unnamed, they seem to be artifacts from data cleaning/combining multiple datasets?
X = dat.drop(['Unnamed: 0', 'Unnamed: 0.1','NAME',  'cases_total', 'fips_final',
       'deaths_total', 'cases_per_capita', 'deaths_per_capita',
       'case_fatality_rate', 'Unnamed: 0.1.1', 'county', 'STATEFP', 'COUNTYFP',
       'CountyName', 'StateName', 'State',], axis=1)
y = dat[["cases_total", "deaths_total", "cases_per_capita", "deaths_per_capita", "case_fatality_rate"]]

#set number of clusters
kmeans = KMeans(n_clusters=4, random_state=0).fit(X)

#Run the clustering algorithm
model = kmeans.fit(X)
model

#Generate cluster predictions and store in y_hat
y_hat = kmeans.predict(X)

In [16]:
#function that creates a dataframe with a column for cluster number
cluster_centers = kmeans.cluster_centers_

def kmean_col(X, cluster_centers):
        cols = list(X)
        cols.append('cluster')
        
# Zip with a column called 'cluster' (index)
        Z = [np.append(A, index) for index, A in enumerate(cluster_centers)]
    
# Convert to pandas data frame for plotting
        P = pd.DataFrame(Z, columns=cols)
        P['cluster'] = P['cluster'].astype(int)
        return P
    
P = kmean_col(X, cluster_centers)
P

,num_hospitals,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,potential_increase_in_bed_capac,bed_utilization,avg_ventilator_usage,population,...,mob_parks,mob_transit,mob_workplace,mob_residential,0-17,18-44,45-64,65-74,75+,cluster
0,2.017104,269.880274,225.704675,24.503991,24.503991,6.161916,44.175599,0.442497,3.278873,9.612194e+04,...,6.203860,-14.905899,-21.825665,8.931269,2.142481e+04,3.206785e+04,24560.351197,6907.238312,5678.288483,0
1,20.090909,5147.454545,4559.954545,509.636364,509.636364,234.590909,587.500000,0.618309,7.065232,1.752731e+06,...,1.811044,-31.341742,-27.773535,12.114003,3.865083e+05,6.086848e+05,412511.000000,101990.136364,91081.909091,1
2,50.500000,12139.500000,10313.250000,1169.500000,1169.500000,484.250000,1826.250000,0.563698,5.786362,4.381166e+06,...,-6.294881,-28.645199,-27.770579,12.062153,1.031159e+06,1.580324e+06,975604.500000,240716.250000,200817.250000,2
3,8.024194,1848.427419,1575.000000,176.137097,176.137097,72.427419,273.427419,0.612851,5.918894,6.458106e+05,...,12.856450,-22.821002,-25.929805,10.956429,1.449487e+05,2.201630e+05,158290.217742,39776.685484,35611.879032,3

In [17]:
#combining cluster data with outcome data to look at the whole dataset...
X['label'] = kmeans.labels_
whole = pd.concat([X, y], axis=1)

In [18]:
whole

,num_hospitals,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,potential_increase_in_bed_capac,bed_utilization,avg_ventilator_usage,population,...,18-44,45-64,65-74,75+,label,cases_total,deaths_total,cases_per_capita,deaths_per_capita,case_fatality_rate
1,4,386,362,51,51,0,24,0.562203,2.0,223234,...,58343,51456,17803,12765,0,188,4,0.000842,0.000018,0.021276596
3,1,35,25,4,4,0,10,0.430904,1.0,22394,...,8687,6121,1723,1183,0,42,0,0.001876,0.000000,0
4,1,25,25,6,6,0,0,0.499069,2.0,57826,...,19416,15361,5079,3360,0,40,0,0.000692,0.000000,0
6,1,72,44,7,7,0,28,0.187111,2.0,19448,...,6597,5805,1829,1660,0,114,1,0.005862,0.000051,0.00877193
7,3,486,435,30,30,0,51,0.431563,5.0,113605,...,42361,32095,9437,7553,0,105,3,0.000924,0.000026,0.028571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,1,146,133,12,12,0,13,0.128829,2.0,39261,...,12857,11249,3253,2552,0,128,4,0.003260,0.000102,0.03125
2292,1,25,22,4,4,0,3,0.275342,1.0,8445,...,2406,2679,884,704,0,11,1,0.001303,0.000118,0.090909091
2293,1,206,170,15,15,0,36,0.513360,4.0,99500,...,32662,25170,6441,5064,0,104,1,0.001045,0.000010,0.009615385
2294,2,38,35,8,8,0,3,0.212492,2.0,19830,...,5646,5115,1372,869,0,6,0,0.000303,0.000000,0
2295,3,375,333,20,20,0,42,0.656438,4.0,79858,...,27142,20896,4805,4587,0,38,0,0.000476,0.000000,0